body {
  width: 280px;
  overflow: hidden;
}

hr {
  margin: auto;
  width: 90%;
}

p {
  line-height: 1.44em;
}

.title {
  padding:  0px 20px 0px 30px;
}

.row {
  padding: .5em;
}

.columns.title {
    border-bottom: solid 1px #595959;
}

.row .row {
  margin: 0;
}

.panel {
  height: 100%;
  padding: 5px 0px;
}

.row.more {
  height:  35px;
  /* border-top: solid 1px black; */
  border-top: solid 1px #d4d4d4;
  padding:  0px;

}

.btn.more:hover {
  background-color: #d4d4d4;
}

.btn.more:active {
  background-color: #c4c4c4;
}

.btn.more {
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  background-color: #e3e3e3;
}

.btn.more.content {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  height: 20px;
  padding: 0px 5px;
}


.thanks-div {
  text-align:  center;
  white-space: nowrap;
  height: 100%;
}

.thanks-div:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.thanks-text {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
}


.radio-feedback {
  padding:  10px 20px 10px 30px;
}

.radio-feedback label {
  padding: 2px 0px;
  font-size: 16px;
}

.radio-feedback .choice-pair {
  padding: 4px 0px;
  cursor: pointer;
}

.choice-pair input[type=checkbox] {
  cursor: pointer;
}

/* radio button style from http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/ */

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

/*input[type=checkbox]:not(old):checked + label > span > span{
  display          : block;
  width            : 100%;
  height           : 100%;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : linear-gradient(#8CD9D9, #66C1CC) repeat scroll 0% 0% #6CC;
}*/

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '\2713';
  display     : block;
  width       : 1em;
  color       : #30A3C9;
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}
